<a href="https://colab.research.google.com/github/VISHAL-099/Colab-files/blob/main/Python_programing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Programming

### variable declaration & usuage

In [ ]:
a=10
b=20
# c language  int a=10;
print(a)

10

In [ ]:
print(a, a+15,b)

10 25 20

In [ ]:
c = a+b
print(c)

30

In [ ]:
sname = "vishal"   # sname is string variable
print(sname)
# single line comment
sname = "inder "
print(sname)

vishal
inder

### Datatype of variable

In [ ]:
print ( sname , type(sname))
print (type (a) , type(b))
# comment

inder  <class 'str'>
<class 'int'> <class 'int'>

In [ ]:
a=10
print (a , type(a))

10 <class 'int'>

In [ ]:
a=20.5
print (a , type(a))

20.5 <class 'float'>

In [ ]:
a=2
print (a , type(a))

2 <class 'int'>

In [ ]:
print (a)
del(a)
print(b)

NameError: ignored

In [ ]:
a=10;b=20;c=30;
print (a,b,c)

10 20 30

In [ ]:
aa  \
=  \
10
print(aa)

10

In [ ]:
indiapop = 12345678987654
print (indiapop)
print(type(indiapop))

12345678987654
<class 'int'>

In [ ]:
a1 = 10 + 20j
a2 = -9j-8

In [ ]:
print (a1,a2)

(10+20j) (-8-9j)

In [ ]:
print (a1+a2)

(2+11j)

In [ ]:
print ( type(a1))

<class 'complex'>

## Operators

* unary ( only one operand)  # ++ , --
* binary ( two operand)   # c= a+b
* ternary ( three operand) # (condition) ? yes :no

#### Arithmetic Operator

In [ ]:
# +, - ,/ ,* , //

In [ ]:
a=10;b=3;
print(a/b)  # float

3.3333333333333335

In [ ]:
print(a//b)  # int part only

3

In [ ]:
c=4 ; d=6;
print(a+b*c)

22

In [ ]:
print ( a, ++a)
b = ++a  + ++a
print ( a,b)

10 10
10 20

In [ ]:
a=10; b=20; c=a;
print (a,b,c)

10 20 10

### Comparision Operators

In [ ]:
# > , < , >= , <= , != , <> , ==

In [ ]:
opt1 = (a>b)
print ( opt1 )

False

In [ ]:
isMarried = True

In [ ]:
print (isMarried , type (isMarried))

True <class 'bool'>

In [ ]:
print ( a == b)

False

### Logical operators

In [ ]:
# and or not
# and - every condition should be true
# or - anyone condition may be true

In [ ]:
print (a,b,c)
opt2 = a>5 or b>30
opt2

10 20 10

True

In [ ]:
print (a>5 and b<30)
print ( not (a>5 and b<30) )

True
False

In [ ]:
a=0
print (a , not (a))

0 True

In [ ]:
# a =10
# while(a){
#
# }

### Assignment Operator

In [ ]:
print (a)
a = a +10
print (a)
a+=10
print (a)

10
20
30

In [ ]:
# any arithmetic operator can be used in short cut notation
# += , -= , *= ,/=

In [ ]:
x=10
print (x)

10

In [ ]:
y=++x
#print (x, x++)
print(x,y)

10 10

### Bitwise Operator

& , | , ^ , >> , <<

In [ ]:
a= 10 ; b=12 ;
print (a,b)
c = a | b
print (a&b, a|b , a^b)

10 12
8 14 6

In [ ]:
data = 18
key = 5
ctext = data ^ key
print ("{0} ^ {1} is {2}".format (data, key, ctext) )
#print ( data, " ^ ", key , " is " , ctext )
#print (" {0} string {1} was good {1} is ok   ".format (var1, var2, var3... ))

18 ^ 5 is 23

In [ ]:
ptext  = ctext  ^ key
print ("{0} ^ {1} is {2}".format (ctext , key, ptext) )

23 ^ 5 is 18

In [ ]:
rr  = ctext  ^ data
print ("{0} ^ {1} is {2}".format (ctext , data, rr) )

23 ^ 18 is 5

In [ ]:
a=1
print (a, a<<1 , a<<2 , a<<3 )
# shifting left is multiply by 2

1 2 4 8

In [ ]:
b=8
print (b , b>>1,b>>2,b>>3 , b>>4)
# shifting right is divide by 2

8 4 2 1 0

In [ ]:
c= 13
print( c , c>>1)

13 6

In [ ]:
print ( 1<<1 & 1)
print ( 1<<1 | 1)

0
3

In [ ]:
print ( ((1<<1 & 1) <<1 &1) )
print ( ((1<<1 | 1) <<1 |1) )

0
7

In [ ]:
a=10
print ( a & (1<<2) )

0

In [ ]:
# check the bit value at third location from LSB
#true /false
a =10   #1010  1100->12
opt1 = (( 1<<2 ) & a )
print (opt1 == (1<<2))

False

In [ ]:
#b=9  1001
# need output as true false false true

b=13  # 1101
print ( (b & (1<<3) ) == (1<<3) , end= " " )
print ( (b & (1<<2) ) == (1<<2) , end= " " )
print ( (b & (1<<1) ) == (1<<1) , end= " " )
print ( (b & (1<<0) ) == (1<<0) )

True True False True

In [ ]:
print ( bool(b & (1<<3) )  , end= " " )
print ( bool(b & (1<<2) )  , end= " " )
print ( bool(b & (1<<1) ) , end= " " )
print ( bool(b & (1<<0) )   )

True True False True

In [ ]:
print ( (b & (1<<3) ))
x= (b & (1<<3) )
print (bool(x))

print ( (b & (1<<3) ))

8
True

In [ ]:
print(  bool(0)  ,  bool(-1),  bool(-10) , bool(10) )

False True True True

In [ ]:
b=25  # 11000
cnt = (1<<4)
print ( bool(b & cnt )  , end= " " )
cnt = cnt>>1
print ( bool(b & cnt )  , end= " " )
cnt = cnt>>1
print ( bool(b & cnt )  , end= " " )
cnt = cnt>>1
print ( bool(b & cnt )  , end= " " )
cnt = cnt>>1
print ( bool(b & cnt )  , end= " " )

True True False False True

## Conditional Constructs

In [ ]:
# accept input from user
a = int (input ( "enter number ") )
# print (a , type(a))
r = a % 2

if (r == 0) :
  print("even number" )
else :
  print ("odd number ")

enter number 77
odd number

In [ ]:
# show the greatest
a= int(input("enter 1st no"))
b= int(input("enter 2nd no"))
c= int(input("enter 3rd no"))

if a > b :
  # conisder a
  if ( a > c) :
    print(a)
  else :
    print (c)  # should we check for n also
else  :
  # consider n2
  if (b > c) :
    print (b)
  else  :
    print (a)  # should we check for n3 also

enter 1st no40
enter 2nd no50
enter 3rd no60
40

In [ ]:
# accept three numbers from user in n1, n2, n3
# print the middle one out of the three
# consider numbers are not same

In [ ]:
n1= int(input("enter 1st no"))
n2= int(input("enter 2nd no"))
n3= int(input("enter 3rd no"))

if(n1>n2):
  if(n2>n3):
    print(n2)
  else:
    if(n1>n3):
      print(n3)
    else:
      print(n1)
else:
  if(n1>n3):
     print(n1)
  else:
    if(n2>n3):
      print(n3)
    else:
      print(n2)

## Looping Constructs

In [ ]:
i=10
while (i<20):
  print(i)
  i = i+1

10
11
12
13
14
15
16
17
18
19

In [ ]:
 # for (int i=0; i<10 ; i++){  ... }
# print (range(5))
for i in range (5) :
  print (i)

0
1
2
3
4

In [ ]:
for i in range (2,5) :
  print (i)

2
3
4

In [ ]:
#range(start, stop[, step]) -
for i in range (1,10,2) :
  print (i)

1
3
5
7
9

In [ ]:
for cnt in range(20,5,-3) :
  print(cnt)
else :

20
17
14
11
8

In [ ]:
a = "India is great country"
for i in a :
  print(i)

I
n
d
i
a

i
s

g
r
e
a
t

c
o
u
n
t
r
y

In [ ]:
# count the number of i chars in given string
str1 = "I love my India"
cnt = 0
for c in str1 :
  if c =='i' or c =='I':
    cnt = cnt + 1

print(cnt)

3

In [ ]:
#str1.capitalize()
s1 = ss = str1.lower()

In [ ]:
print (ss, s1)

i love my india i love my india

## Excercise

1. Write program to check whether given number is
prime or not
2. Write a program to find those numbers which are
divisible by 7 and multiple of 5, between 1500 and
2700 (both included).
3. Write a Python program to get the Fibonacci series
between 0 to 50.
4. Write a program to construct the pattern, using a
nested for loop.

![image.png]()

In [ ]:
# fibonacci - 0 1 1 2 3 5 8 13...

![image.png]()

![image.png]()

## Excercise result

In [ ]:
#Q3 fibonacci
# Write a python program to get the Fibonacci series between 0 to 50
n = int ( input ("Enter the number of terms needed in fibonacci series "))
f1,f2= 0,1
if n == 1:
  print (f1)
elif n == 2:
  print (f1,f2)
else :
  print ( f1,f2, end=" ")
  for i in range (3,n+1):
    f3 = f1+f2
    print ( f3,end =" ")
    f1=f2
    f2=f3

Enter the number of terms needed in fibonacci series 11
0 1 1 2 4 8 16 32 64 128 256

In [ ]:
x,y=0,1
n=10
sum=0
print(x, end =" ")
for i in range(n-1):
  sum=x+y
  x=y
  y=sum
  print(x , end =" ")

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
#Q4
ntime = 3
ntime = int (input ("enter the number of stars to be printed "))
for i in range(ntime):
    for j in range(i):
        print ('* ', end="")
    print('')
for i in range(ntime,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

enter the number of stars to be printed 6

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# display the multiples of given numbers
# 6 output 2, 3

n=10
# n%x -0 this means display the number x
#for x in range  ( 1, n):   # scenario 1
for x in range (1, (n//2)+1 ):   # scenario 2
  #print (x , end=" ")
  print ("c ", end=" ")
  if n%x == 0 : print ( x , end=" ")

#{   what could be the range of x => 1....n/2    }
# in scenario 1 the computation done for 9 times
# whereas in scenarion 2 the computation is done for only 5 times .

c  1 c  2 c  c  c  5 c  c  c  c

In [ ]:
# learn using nested loops
# display all the multiples of number present in fibonacci series

#code to print the fibonacci series  .. with n numbers
x,y=0,1
n=11
sum=0
print(x, end =" ")
for i in range(n-1):
  sum=x+y
  x=y
  y=sum
  print(x, end=" :- "  )
  #check for the multiples of x { 1 ... x//2 +1}
  for z in range (1, (x//2)+1 ):
    if x%z == 0 : print (z , end=" ")
  print (" ")

0 1 :-
1 :-
2 :- 1
3 :- 1
5 :- 1
8 :- 1 2 4
13 :- 1
21 :- 1 3 7
34 :- 1 2 17
55 :- 1 5 11

## Type of Errors

* Syntatic Error - compiler can figure out
* Semantic Error - logical errors
Program may run .... its inefficient , consume more resources/time

```
1
22
333
4444
```

In [ ]:
# print pattern
lines  = 4
for n1 in range (1, lines+1):
  #print (n1 )
  #inner loop runs for n1 times
  #for n2 in range (1, n1+1):
  for n2 in range (0, n1):
    print(  n1  , end=" ")
  print ( " ")

1
2 2
3 3 3
4 4 4 4

```
   1
  2 2
 3 3 3
4 4 4 4
```

In [ ]:
 # print pattern
lines  = 7
for n1 in range (1, lines+1):
  for blk in range (0 , lines-n1 ):
    print (" ", end ="")
  for n2 in range (0, n1):
    print(  n1  , end=" ")
  print ( " ")

      1
     2 2
    3 3 3
   4 4 4 4
  5 5 5 5 5
 6 6 6 6 6 6
7 7 7 7 7 7 7

```
   1
  2 2
 3 3 3
4 4 4 4
 3 3 3
  2 2
   1
```

```
     1
   1 2 1
 1 2 3 2 1
```

```
     1
   1 2 1
 1 2 3 2 1
   1 2 1
     1
```

In [ ]:
# print pascals traingle from kanwar

lines = 5

for i in range(1, lines + 1):
  # loop to print spaces
  print(" " * (2 * (lines - i)), end="")
  #print numbers in increasing order
  for j in range(0, i-1):  # i for normal
    print(j+1, end=" ")
  # print numbers in decreasing order
  for k in range(0, i):
    print(i-k, end=" ")
  print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
lines = 5

for i in range(1, lines + 1):
  # loop to print spaces
  print((lines - i), end=" ")

4 3 2 1 0

### Strings

In [ ]:
print (" * " * 2)

 *  *

In [ ]:
name1 = "India"
for i in range(5):
  print (name1 , end="")

IndiaIndiaIndiaIndiaIndia

In [ ]:
print (name1 * 4)

IndiaIndiaIndiaIndia

In [ ]:
print (name1)

India

In [ ]:
str2 = " is great place."
print (name1, str2)

India  is great place.

In [ ]:
print ( name1 + str2)

India is great place.

In [ ]:
name1= "INDIA"

In [ ]:
print (name1)

INDIA

In [ ]:
name1.lower()

'india'

In [ ]:
print (name1 , name1.lower() , name1.isupper())

India india False

In [ ]:
print ("India".lower(), "India".isupper() , "India".upper().isupper().lower())

AttributeError: ignored

print ("India".islower(), "India".isupper() , "India".upper().lower())

In [ ]:
str1 = "India is great."
print (str1[0], str1[-1], str1[-2])

I . t

In [ ]:
for i in range (5):
  print (str1[i])

I
n
d
i
a

In [ ]:
# print alll characters from str1
for i in range( len(str1)):
  print (str1[i])

I
n
d
i
a

i
s

g
r
e
a
t
.

In [ ]:
for i in str1 :
  print (i)

I
n
d
i
a

i
s

g
r
e
a
t
.

In [ ]:
#print (str1)
#if 'x' in str1: print ("true ")
'x' in str1

False

In [ ]:
print (str1)
#slicing
print (str1[6:8])
print (str1[:8])
print (str1[6: ])
print (str1[:])

India is great.
is
India is
is great.
India is great.

In [ ]:
print (str1)
str1[6] = " "
# strings are immutable  / cannot change once initialized

I love my India

TypeError: ignored

In [ ]:
str1 = "India"
str2 = "IndiA"
str1 <str2
# ascii value is used to comparision character-by-character
# A  - 65 , a-92  difference is 32 or 20 hexa

False

In [ ]:
a=10
a==20

False

In [ ]:
for i in range(2,7):
  print(str1[i])
  # square bracket is used for subscript / index

d
i
a

i

In [ ]:
str2 = "India"
for i in range (len(str2)) :
  #print (str2[i])
  for k in range (i+1):
    print (str2[i] , end = "")
  print(" ")

I
nn
ddd
iiii
aaaaa

In [ ]:
str2 = "India"
for i in range (len(str2)) :
  print (str2[i]  * (i+1))

I
nn
ddd
iiii
aaaaa

```
    I
   n n
  d d d
 i i i i
a a a a a
```

```
       I
     I n I
   I n d n I
 I n d i d n I
I n d i a i d n I
```

### String Excercise

Q1  write a program to find the occurance of substring in given string
str1 = "Indians"
str2 = "dia"
* it should print str2 or "dia" substring starts at offset 2 in given str1 pr "Indians"
* if the substring doesnot exist e.g. "xia" it should print -1

Q1a . find the interger2 in the given interger1.

eg. integer1 = 98267462  interger2 =6

output we need is 6 appeared 2 times

Q2 write a program to count the occurance of substring in given string
str1 = "India is a great country and Indians make is best place to live."
str2 = "India"
* str2 is searched in str1 and number of times str2 appears in str1 should be returned
*  In above example output is 2
* other example if "is" is searched in str1 it should return 2.

Q3. check wheather the given string is palindrome or not

e.g madam returns true

India returns false

* give five palindrome words in english language

Q4. weight assigned to each characters e.g
a-1,b-2,c-3....z-26

Display the sum total of weights in a given string
hero ( 8+5+18+15 = 46) output is 46

Q5 .  show the word with highest weight in a given string
str1 = "India is a great country"

str1 has five words 12,15,1,42,54
 then the output is 54 .

Q6 . arrange the words in a given string as per decresing order of their weight

In [ ]:
str="abcz"
count=0
str=str.lower()
a-1,b-2, c-3
for i in str:
  count+=ord(i)-96
print(count)

32

In [ ]:
#a-1,b-2, c-3
# loop to print a-z
for k in range ( 65,91) :
  print ( chr(k), k-64 )

A 1
B 2
C 3
D 4
E 5
F 6
G 7
H 8
I 9
J 10
K 11
L 12
M 13
N 14
O 15
P 16
Q 17
R 18
S 19
T 20
U 21
V 22
W 23
X 24
Y 25
Z 26

In [ ]:
str1 = "xyz"
print( ord(str1[0])-96, ord(str1[1])-96 ,  ord(str1[2])-96 )

24 25 26

In [ ]:
str1 = "abcxyz"
for c in range(len(str1)):
  #print (str1[c])
  print (str1[c], ord(str1[c])-96)

a 1
b 2
c 3
x 24
y 25
z 26

In [ ]:
res = 0
str1 = "abcxy"
for c in range(len(str1)):
  #print (str1[c])
  res = res + (ord(str1[c])-96)
  print (str1[c], ord(str1[c])-96)
print(res)

a 1
b 2
c 3
x 24
y 25
55

##### Q1

In [ ]:
ALPHAS = " abcdefghi"
print (ALPHAS [1])

a

In [ ]:
s1 = 'a'
s2= 'b'
s3 = 'd'
print(s1, s2, ord(s3)- ord('a') )

a b 3

In [ ]:
str1 = "abzc" # 1+2+3 ==6
print ( ord(str1[0])-96, ord(str1[1])-96, ord(str1[2])-96)

1 2 26

In [ ]:
res = 0
for c in range (len(str1)):
  print (str1[c] , ord(str1[c])-96)
  res = res + ord(str1[c])-96
print (res)

a 1
b 2
z 26
c 3
32

In [ ]:
a=1; b=2;c=3;
str1 = "aab"
if str1 [0]=='a':

if str1[0]=='b'

if str1[0]=='b'

In [ ]:
# find the greatest number given in the list
lst1 = [1000,114,55,23,93,25]
for i in range(len(lst1)):
  print(lst1[i])

1000
114
55
23
93
25

In [ ]:
# print all the even number give in the list not the odd numbers

lst1 = [233,1000,114,55,23,93,25]
for i in range(len(lst1)):
  if (lst1[i]%2 == 0):
    print(lst1[i])

1000
114

In [ ]:
lst1 = [233,1000,114,55,23,93,25]
for k in lst1:
  if (k%2 ==0) :
    print (k)

1000
114

In [ ]:
from sre_constants import CATEGORY_UNI_NOT_WORD
# Display the count of Even and odd numbers not equal to zero
# in the given list not the odd numbers
lst1 = [233,0,114,55,23]
output
even = 1
odd = 3
HINT : take two counters
counteven, countodd

loop thru the given list
   check for zero
   check the number is even
   if yes counteven = counteven+1
   else countodd = countodd + 1

End of loop
print counteven, countodd

range(0, 6)

In [ ]:
lst1=[121,0,2,81,114] # print count of even and odd numbers in list
counte=0
counto=0
for i in range(len(lst1)):
    if lst1[i] == 0 : continue
    if lst1[i]%2== 0:
        counte=counte+1
    else:
        counto=counto+1

print("no. of even elements: ",counte)
print("no. of odd elements: ",counto)

no. of even elements:  0
no. of odd elements:  1

In [ ]:
# Q1 : Display the count of numbers divisible by 5  and count of numbers divisible by 3
# lst1 = [12,15,55,73,30,21,59]
# Q2 : display the count of character 's' in string 'sun is synonymous to strength'

In [ ]:
lst = [12,15,55,73,30,21,59]
count = 0
count1 = 0
for i in lst:
  if(i%3==0):
   count = count + 1
  if(i%5==0):
    count1 = count1 +1
print("Divisible by five ", count1)
print("Divisible by three", count)

Divisible by five  3
Divisible by three 4

In [ ]:
# Q2 : display the count of character 's' in string 'sun is synonymous to strength'
str="sun is Synonymous to strength"
count=0
for i in range(len(str)):
  if str[i]=="s":
    count=count+1
print(count)
#modify the code to check S/s both

4

In [ ]:
lst1=[12,15,55,73,30,21,59] # print count of no. divisible by 5 and 3 together
count=0
for i in range(len(lst1)):
     if (i%3==0) & (i%5==0):
            count=count+1

print("no. of elements in lst divible by 5 and 3: ",count)

In [ ]:
str1='sun is synonymous to strength'
str2='s'
print("S appeared 5 times: ",str1.count(str2))

S appeared 5 times:  5

In [ ]:
#Q3. Given String India . Print the characters of the given string
# no of time as per postional value
Inndddiiiiaaaaa
I(1)n(2)d(3)i(4)a(5)

In [ ]:
str1="India"
for i in range(0,len(str1)):
    for j in range(0,i+1):
        print(str1[i],end="")

Inndddiiiiaaaaa

In [ ]:
#Q4. Given number 4783 . Print the numbers of the given integer number
# no of time as per postional value
4778883333
4(1)7(2)8(3)3(4)

In [ ]:
n1=5478
print(n1, n1%10, (n1%100)//10 , (n1%1000)//100, (n1//1000) )

5478 8 7 4 5

In [ ]:
#Q5. Given number 4783 . Print the greatest digit out of the given number
# output 8

In [ ]:
#Q6. Given number 4783 . Print the reverse of the  given number
# output 3874

In [ ]:
lst=[33,0,114,55,23]
count=0
for i in lst:
  if i%2==0:
    count=count+1
print("even", count)

for j in lst:
  if j%2==1:
    count2=count2+1
print("odd", count2)

In [ ]:
#display the count of even numbers in the given list

lst1 = [1000,114,55,23,93,25]
for i in range(len(lst1)):
  print(lst1[i])

In [ ]:
# find the greatest number given in the list
lst1 = [1000,114,55,23,93,25]
max = lst1[0]
# print the greatest out of the lst1 without using any default method
for i in lst1:
  if max < i :
    max = i
print (max)

1000

In [ ]:
# display the sum of digits in the given number
# display the sum of digits in

In [ ]:
str1 = "vinod"
for i in range(len(str1)):
  print ("i=",i)
  for k in range(i+1):
    print("k=",k)
    print (str1[i])
  print("-------")

i= 0
k= 0
v
-------
i= 1
k= 0
i
k= 1
i
-------
i= 2
k= 0
n
k= 1
n
k= 2
n
-------
i= 3
k= 0
o
k= 1
o
k= 2
o
k= 3
o
-------
i= 4
k= 0
d
k= 1
d
k= 2
d
k= 3
d
k= 4
d
-------

In [ ]:
#Q1 write a program to find the occurance of substring in given string
str1 = "Indians" ; str2 = "dia";
print (str1, str2)

Indians dia

In [ ]:
# tranverse the first string
for c in str1 :
  print (c)

I
n
d
i
a
n
s

In [ ]:
# traverse the first string
# display true if 'x' is present in str1 else display false
str2 = 'I'
if str2 in str1 :
  print ("true")
else : print ("false ")

true

In [ ]:
# donot use in operator
flag = 0
str1 = "Indians"
str2 = 'a'
for c in str1 :
  if str2 == c :
    flag =1
    break

if flag == 1 :
  print ("true")
else :
  print ("false")

true

In [ ]:
# donot use in operator
flag = 0
str1 = "Indians"
str2 = 'ax'
for c in str1 :  #one character at a time from given string
  if str2[0] == c :
    if str2[1] == str1[ ]
    flag =1
    break

if flag == 1 :
  print ("true")
else :
  print ("false")

true

In [ ]:
# take 2
flag = 0
str1 = "Indians"
str2 = 'nd'
for c in range (len(str1)):
  if str2[0] == str1[c]:
    if str2[1] == str1[c+1] :
      if str2[2] == str1[c+2] :
        flag =1
        break

if flag == 1 :
  print ("true")
else :
  print ("false")

IndexError: ignored

In [ ]:
# take 3
flag = 0
str1 = "Indians make India great"
str2 = 'in'
for c in range (len(str1)):  #outer loop
  if str2[0] == str1[c]:
    flag = 1
    # put loop till the end of str2
    for k in range (len ( str2 )):   # inner loop
      if str2 [k]  == str1 [c+k] :  pass #  print ('true')
      else  : flag=0 # print('false')

if flag == 1 :
  print ("true")
else :
  print ("false")

true

In [ ]:
# take 4
flag = 0
str1 = "Love is immortal. Prayers are way to God"
str2 = "india"
for c in range( len(str1)) :    # outer loop
  print( str1[c] , end =" ")
  for k in range(len(str2)):    # inner loop
    print(str2[k], end ="")
  print(" ")

L india
o india
v india
e india
  india
i india
s india
  india
i india
m india
m india
o india
r india
t india
a india
l india
. india
  india
P india
r india
a india
y india
e india
r india
s india
  india
a india
r india
e india
  india
w india
a india
y india
  india
t india
o india
  india
G india
o india
d india

In [ ]:
# take 5
flag = 0
str1 = "India Is for Indian"    #19
str2 = "Indi"                  #5
cnt = 0
for c in range( len(str1)) :    # outer loop
  print( str1[c] , end =" ")
  if str1[c]==str2[0]:          # if the character pointed by c is matching with first characterof str2 then
                                # check for the rest of characters in str2
    for k in range(len(str2)):    # inner loop
      if str1[c+k] == str2[k]:print ("*", end=" ")

  print(" ")

I * * * *
n
d
i
a

I *
s

f
o
r

I * * * *
n
d
i
a
n

In [ ]:
str3 = "India"
print (str3[0], str3[4])

I a

In [ ]:
str3[0] = str3[4]

TypeError: ignored

## functions

In [ ]:
# Q4. weight assigned to each characters e.g a-1,b-2,c-3....z-26

In [ ]:
str1 = "abcd"
res  = 0
##### CODE ##############
for i in str1  :
  print (ord(i)-96)
  res=res+ord(i)-96
################
print (res)

1
2
3
4
10

In [ ]:
# convert the above code into user defined functions
def showWeight( myStr):
  res = 0
  for i in myStr :
    res = res + ord(i)-96
  print (res )

In [ ]:
def showWeight1( myStr):
  '''
  showWeight1 method accepts String and
  returns the interger weight
  '''
  res = 0
  for i in myStr :
    res = res + ord(i)-96
  return(res)

In [ ]:
ss1="india"
showWeight(ss1)
showWeight1(ss1)

37

37

In [ ]:
# rohit in Second method we assign returning value to a variable
a1 = showWeight1(ss1)

In [ ]:
print (a1)

0

In [ ]:
a2 = showWeight(ss1)

0

In [ ]:
print(a2)

None

In [ ]:
# ways to call method / function
str1 = "abcd"
showWeight(str1)
showWeight1(str1)

10

10

In [ ]:
showWeight(str1) + showWeight(str1)  # not returning

10
10

TypeError: ignored

In [ ]:
showWeight1(str1) + showWeight1(str1)  #  returning

20

In [ ]:
10+10

20

In [ ]:
print ("10") + print("10")

10
10

TypeError: ignored

In [ ]:
# getting the documentation of the method
print ( showWeight1.__doc__)

  showWeight1 method accepts String and
  returns the interger weight

In [ ]:
print (str1 , str1.upper, str1.upper() )
print ( str1.upper.__doc__)

abcd <built-in method upper of str object at 0x7fb5cf08ec70> ABCD
Return a copy of the string converted to uppercase.

In [ ]:
showWeight1("India")
showWeight1("is")

28

In [ ]:
print ( showWeight1("India") )
print (showWeight1("is"))
print ( showWeight1("India")   + showWeight1("is"))

5
28
33

In [ ]:
lst1 = [29,4345,-657,-23,-4,-121]
# write code to print the greatest from the given list
max = lst1[0]
for i in lst1 :
  if i > max  :
    max = i

print(max)

4345

## merging the code

In [ ]:
# code 1 : calculate the weight of the given string
def strWeight ( myStr):
  '''
  showWeight1 method accepts String and
  returns the interger weight
  '''
  res = 0
  for i in myStr :
    res = res + ord(i)-96
  return(res)

In [ ]:
strWeight("ab")

3

In [ ]:
# code 2 : calculate the max
lst1 = [29,45,657,-23,-4,-121]
# write code to print the greatest from the given list
max = lst1[0]
for i in lst1 :
  if i > max  :
    max = i

print(max)

657

In [ ]:
# code 3 : merge the code 1 and code 2
str2 = "india is my  and i am indian"
#calculate the weight of each word in given string - str2
# then calculate the max out of these
sweight = [] # create blank list
newstr = str2.split()
for s in newstr:
  print(s , strWeight(s))
  sweight.append(strWeight(s))
print (sweight)

max = sweight[0]
for i in sweight :
  if i > max  :
    max = i

print(max)

india 37
is 28
my 38
and 19
i 9
am 14
indian 51
[37, 28, 38, 19, 9, 14, 51]
51

In [ ]:
#str2 = "abc ab abcd c"
#         6   3  10  3
# output will be 10

In [ ]:
str2 = "africa and india is my country"
newstr = str2.split()
print (newstr)
max_str = ""
max_weight = 0

for i in newstr:
    weight = 0
    for char in i:
        weight += (ord(char)-96)
    print(i,":", weight)
    if weight > max_weight:
        max_str = i
        max_weight = weight
print("The maximum word is",max_str,":", max_weight)

['africa', 'and', 'india', 'is', 'my', 'country']
africa : 38
and : 19
india : 37
is : 28
my : 38
country : 116
The maximum word is country : 116

In [ ]:
#Sanjana code 3 : merge code 1 and code 2
str2="India is my country"
# calculate the weight of each word in given string- str2
# then calcuate the max out of these

res=0
max=str2[0]
# print(str2[0])

for num in str2:
  res=res+ord(num)-96
  if num > max:
    max=num

print("weight of string: ",res)
print("the greatest out of the given string: "+max)

weight of string:  -5
the greatest out of the given string: y

In [ ]:
# Amrit
str2 = "India is my country"
# Split the string into a list of words
words = str2.split()
# Calculate the weight of each word and find the maximum weight
word_weights = []    #created empty list
for word in words:
    weight = sum(ord(c) - 96 for c in word.lower())
    word_weights.append(weight)
max_weight = max(word_weights)
print(max_weight)

TypeError: ignored

In [ ]:
a =10
b = 20
print (a, b )
c, d  = b,a
print(c,d )

10 20
20 10

In [ ]:
def method1 ():
  return 10, 20

In [ ]:
x  = method1()

In [ ]:
print (x,y)

(10, 20) 20

In [ ]:
x,y,z = method1()
print(x,y,z)

ValueError: ignored

### Questions

**donot use any built-in methods**

1. Write a method to return the number of characters in given string  a-z A-Z

2. Write a method to return the number of characters in given string  a-z A-Z
Lower case and upper case seperately

3. Write a method to return the number of words in given string

In [ ]:
myCount("Indian")
#output should be 6

In [ ]:
# print all the characters in a given string
str1 = "india"
cnt=0
for i in range ( len(str1)):
  #print(str1[i])
  cnt = cnt+1
print (cnt)

5

In [ ]:
def myCount(str1):
  cnt=0
  for i in range ( len(str1)):
    #print(str1[i])
    cnt = cnt+1
  print (cnt)

In [ ]:
myCount("Helloindia")

10

In [ ]:
myCount("india")

5

In [ ]:
st1 ="HellO"
# display only characters in uppercase
print(st1[0])
print(ord('A'))
print(ord('Z'))
print(ord('a'))
print(ord('z'))

H
65
90
97
122

In [ ]:
st1 ="HellO"
# display only characters in uppercase
print(st1[0])
if (ord(st1[0])>=65 and ord(st1[0])<=90): print("uppercase")
if (ord(st1[0])>=97 and ord(st1[0])<=122): print("Lowercase")

H
uppercase

In [ ]:
# try the code in loop for each character in string
for c in  st1 :
  print(c)
  if (ord(c)>=65 and ord(c)<=90): print("uppercase")
  if (ord(c)>=97 and ord(c)<=122): print("Lowercase")

H
uppercase
e
Lowercase
l
Lowercase
l
Lowercase
O
uppercase

In [ ]:
# try the code in loop for each character in string
st1 = "InDiaNs"
lcount, ucount = 0,0
for c in  st1 :
  print(c)
  if (ord(c)>=65 and ord(c)<=90): ucount  = ucount + 1
  if (ord(c)>=97 and ord(c)<=122): lcount = lcount + 1

print(ucount, lcount)

I
n
D
i
a
N
s
3 4

In [ ]:
def lucount(st1 ):
  lcount, ucount = 0,0
  for c in  st1 :
    #print(c)
    if (ord(c)>=65 and ord(c)<=90): ucount  = ucount + 1
    if (ord(c)>=97 and ord(c)<=122): lcount = lcount + 1

  print(ucount, lcount)

In [ ]:
lucount("IndianS has Been")

3 11

In [ ]:
#3.Write a method to return the number of words in given string
st1 = "   We are fellow Indians "
#output should be 4
wcount = 1
for s in st1 :
  #print(s)
  if s==" " : wcount = wcount +1
print (wcount)
#count will be incremented only when space is succeded or preceded with character

8

In [ ]:
#deepanshu
def no_of_words(str1):
  count=1
  for i in range(0,len(str1)):
    if (str1[i]==' ' and str1[i+1]!=' ') :
      count=count+1
  return count
str1="   India    is   too    beautiful"
print(no_of_words(str1))

5

In [ ]:
#from Kanwar Singh to everyone:    10:19 AM
# count the number of words in a string
def countWords(strIn):
  wordCount = 0
  if len(strIn) != 0:  #making sure there are some words in the string
    isWord = True
    if strIn[0] == " ": # so  that we correct the first loop iteration beforehand
      wordCount = -1
  else:
    return 0
  for i in strIn:
    if i != " ":
      isWord = True
    else:
      if isWord: # if we had a word earlier we can increment
        wordCount += 1
        isWord = False
  if strIn[-1] != " ": wordCount += 1 # for last element if it doesn't end with a space
  return wordCount
print(countWords("  India   and Indians     are great  "))

5

## Sorting

[20, 45, 2, 12, 78]

#### Bubble Sort

In [ ]:
# sort the list without using any built-in method / ascending order
#lst1 = [20, 45, 2, 12, 78]  # random  # bubble sort
#lst1 = [2, 12, 20, 45, 78]  # best
lst1 = [78, 45, 20, 12, 2]  # worst
print ( lst1)
for k in range (len(lst1)-1):
  for i in range (len(lst1)-1):
    if lst1[i]> lst1[i+1] : # if true swap
      x = lst1[i]
      lst1[i]   = lst1[i+1]
      lst1[i+1] = x
  #print the list
  for i in lst1 : print (i , end  =" ")
  print (" ")

[78, 45, 20, 12, 2]
45 20 12 2 78
20 12 2 45 78
12 2 20 45 78
2 12 20 45 78

In [ ]:
lst1 = [20,15,14,12,7,1]
print ( lst1)
cnt =0
for k in range (len(lst1)-1):
  for i in range (len(lst1)-1):
    cnt = cnt+1
    if lst1[i]> lst1[i+1] :
      x = lst1[i]
      lst1[i]   = lst1[i+1]
      lst1[i+1] = x

print (cnt)
print (lst1)

[20, 15, 14, 12, 7, 1]
25
[1, 7, 12, 14, 15, 20]

In [ ]:
def myBubbleSort(lst1):
  print (" Original :", lst1)
  cnt =0
  for k in range (len(lst1)-1):
    for i in range (len(lst1)-1):
      cnt = cnt+1
      if lst1[i]> lst1[i+1] :
        x = lst1[i]
        lst1[i]   = lst1[i+1]
        lst1[i+1] = x

  print (" Iteration : "+ str(cnt))
  print (" Sorted  :" ,lst1)

In [ ]:
#aveage case /random
myBubbleSort([20, 15, 14, 12, 7, 1])

 Original : [20, 15, 14, 12, 7, 1]
 Iteration : 25
 Sorted  : [1, 7, 12, 14, 15, 20]

In [ ]:
#worst case
myBubbleSort([1, 7, 12, 14, 15, 20])

 Original : [1, 7, 12, 14, 15, 20]
 Iteration : 25
 Sorted  : [1, 7, 12, 14, 15, 20]

In [ ]:
myBubbleSort ([20, 15,14,12,7,1])

 Original : [20, 15, 14, 12, 7, 1]
 Iteration : 25
 Sorted  : [1, 7, 12, 14, 15, 20]

##### Improve Bubble sort

In [ ]:
def myBubbleSorti(lst1):
  print (" Original :", lst1)
  cnt =0
  for k in range (len(lst1)-1):
    flag = True
    for i in range (len(lst1)-1):
      cnt = cnt+1
      if lst1[i]> lst1[i+1] :
        flag = False
        lst1[i] , lst1[i+1] =lst1[i+1], lst1[i]
      if ( flag == True ) :
        #print ("done ")
        break
  print (" Iteration : "+ str(cnt))
  print (" Sorted  :" ,lst1)

In [ ]:
myBubbleSorti([1, 7, 12, 14, 15, 20])

 Original : [1, 7, 12, 14, 15, 20]
done
done
done
done
done
 Iteration : 5
 Sorted  : [1, 7, 12, 14, 15, 20]

In [ ]:
myBubbleSorti([1, 7, 12, 20, 15, 14])

 Original : [1, 7, 12, 20, 15, 14]
done
done
done
done
done
 Iteration : 5
 Sorted  : [1, 7, 12, 20, 15, 14]

#### Selection Sort

![image.png]()

In [ ]:
# sort the list without using any built-in method / ascending order
#selection
lst1 = [20, 45, 2, 12, 78]

print ( lst1)
for k in range (len(lst1)-1):
  print (lst1[k])
  for j in range ( k+1 , len(lst1)):
    print (lst1[j] * (k+2) , end ="-")
  print (" ")


# output 20 , 90, 4, 24, 156
#        45 , 6 , 36 , 234
#         2 , 48,  312
#         12,   390

[20, 45, 2, 12, 78]
20
90-4-24-156-
45
6-36-234-
2
48-312-
12
390-

In [ ]:
# sort the list without using any built-in method / ascending order
#selection
lst1 = [20, 45, 2, 12, 78]

print ( lst1)
for k in range (len(lst1)-1):
  print (lst1[k])
  for j in range ( k+1 , len(lst1)):
    if lst1[j] < lst1[k] : #swap
       x       = lst1[j]
       lst1[j] = lst1[k]
       lst1[k] = x
  print (lst1)

[20, 45, 2, 12, 78]
20
[2, 45, 20, 12, 78]
45
[2, 12, 45, 20, 78]
45
[2, 12, 20, 45, 78]
45
[2, 12, 20, 45, 78]

In [ ]:
def mySelectionSort(lst1)  :
  print ( lst1)
  cnt = 0
  for k in range (len(lst1)-1):
    for j in range ( k+1 , len(lst1)):
      cnt = cnt  + 1
      if lst1[j] < lst1[k] : #swap
        x       = lst1[j]
        lst1[j] = lst1[k]
        lst1[k] = x
  print ( "Iteration : " + str ( cnt ) )
  print (lst1)

In [ ]:
mySelectionSort ([20, 45, 2, 12, 78] )

[20, 45, 2, 12, 78]
Iteration : 10
[2, 12, 20, 45, 78]

In [ ]:
mySelectionSort ([2, 12, 20, 45, 78])

[2, 12, 20, 45, 78]
Iteration : 10
[2, 12, 20, 45, 78]

In [ ]:
mySelectionSort ([78 , 45, 20, 12, 2])

[78, 45, 20, 12, 2]
Iteration : 10
[2, 12, 20, 45, 78]

#### Question

1. accept 10 numbers from user (one at a time) and make list of these given numbers

2. accept 10 numbers from user (one at a time) and make sorted list of these given numbers . donot use sort or any builtin method

3. accept 10 numbers from user (one at a time) and display the max, min and average after each number is accepted .

In [ ]:
#1 code from lalit
num =[]
for i in range(0,5):
    n= int(input(f"Enter number : "))
    num.append(n)
print(num)

Enter number : 34
Enter number : 67
Enter number : 78
Enter number : 23
Enter number : 56
[34, 67, 78, 23, 56]

In [ ]:
 #2
 print (num)
 # insert 68 after 67 in given list - num
 num.append(68)
 print(num)

[34, 67, 78, 23, 56]
[34, 67, 78, 23, 56, 68]

In [ ]:
num[2] = 69
print (num)

[34, 67, 69, 23, 56, 68]

In [ ]:
print(num)
num=num[0:2]  + [70]  + num[2:]
print(num)

[34, 69, 69, 23, 56, 68]
[34, 69, 70, 69, 23, 56, 68]

In [ ]:
'''
23
[23]
16
[16,23]
34
[16,23,34]
'''
lst1 =[]
n=23
#lst1[0] = 23
lst1.append(n)
print(lst1)
n=16
if n> lst1[0] : print('after')
if n< lst1[0] : print('before')

[23]

In [ ]:
lst  = []
tlst = []
n=15
if lst == [ ]:  lst.append(n)
n=23
lst.append (n)
print(lst)

n=10
lst  = [n]  +lst
print(lst)

[15, 23]
[10, 15, 23]

In [ ]:
# contents of lst is not known
lst= [10, 15, 19, 23]
tlst=[]
n=26
flag=0
for i in range(len(lst)):
  if (lst[i] < n )  :
    tlst.append(lst[i])
  else :
    if (flag==0):
      tlst.append(n) # this statement to be executed only once
      tlst.append(lst[i])
      flag=1
    else : tlst.append(lst[i])

if (flag==0): # number to be inserted in greater than all the numbers in list
  tlst.append(n)
print (lst)
print(tlst)

[10, 15, 19, 23]
[10, 15, 19, 23, 26]

In [ ]:
def myInsertList():
  pass

# method will keep asking for new numbers and insert into list in sorted order
# till user enters -1
# display the sorted list

In [ ]:
def myInsertList():
  while True :
    n = int (input("Enter number "))
    if (n==-1): break

In [ ]:
myInsertList()

Enter number 12
Enter number 43
Enter number 56
Enter number 45
Enter number -1

In [ ]:
def myInsertList():
  lst =[]
  while True :
    n = int (input("Enter number "))
    if (n==-1): break
    lst.append(n)
  print(lst )

In [ ]:
myInsertList()

Enter number 345
Enter number 78
Enter number 45
Enter number -1
[345, 78, 45]

In [ ]:
def myInsertList():
  lst =[]
  while True :
    n = int (input("Enter number "))
    if (n==-1): break
    if lst == [ ]:  lst.append(n)
    flag=0
    tlst=[]
    for i in range(len(lst)):
      if (lst[i] < n )  :
        tlst.append(lst[i])
      else :
        if (flag==0):
          tlst.append(n) # this statement to be executed only once
          tlst.append(lst[i])
          flag=1
        else : tlst.append(lst[i])

    if (flag==0): # number to be inserted in greater than all the numbers in list
      tlst.append(n)
    lst = tlst
  print(lst )

Quick Review
 * python datatype
 * operator
 * loops, conditional statements
 * list, tuple, dictionary,set
 * functions ...
 * packages
 * Package  - Numpy , Pandas
 * machine learning
 * Deep Learning

3. accept 10 numbers from user (one at a time) and display the max, min and average after each number is accepted .

In [ ]:
lst1 = []
while True :
  n = int(input ("enter number "))
  if n==0 : break
  lst1.append(n)

enter number 23
enter number 45
enter number 67
enter number 0

In [ ]:
print (lst1)

[23, 45, 67]

In [ ]:
n =  input ("enter number ")
print(n)

enter number stop
stop

In [ ]:
# the loop should break when user enters stop
lst1 = []
while True :
  n = (input ("enter number "))
  if n=='stop' : break
  lst1.append(int(n))

enter number 12
enter number 23
enter number 45
enter number 56
enter number stop

In [ ]:
print ( lst1 )

[12, 23, 45, 56]

In [ ]:
# accept 10 number from  user
sum = 0
avg = 0
for i in range(1,6):
  n = int (input("enter number "))
  #print (n)

  sum = sum + n
  avg = sum/i
  print (sum , avg)

enter number 1
1 1.0
enter number 2
3 1.5
enter number 3
6 2.0
enter number 4
10 2.5
enter number 5
15 3.0

In [ ]:
[int(x) for x in input().split(' ')]

12 23 54

[12, 23, 54]

In [ ]:
max=0
min=0
for i in range(10) :
  n=int(input("enter number"))
  if n>max :
    max=n
  else :
    min=n

  print("max = ",max)
  print("min = ",min)

enter number12
max =  12
min =  0

KeyboardInterrupt: ignored

In [ ]:
sum=0 ; avg=0; max=0; min=0

for i in range(10) :
  n=int(input("enter number"))
  if i==0 :
    max=n
    min=n
  else :
    if n>max :
      max=n
    if n<min :
      min=n
    sum+=n

  print("max = ",max)
  print("min = ",min)

enter number23
max =  23
min =  23
enter number67
max =  67
min =  23
enter number89
max =  89
min =  23
enter number1
max =  89
min =  1
enter number55
max =  89
min =  1
enter number66
max =  89
min =  1
enter number34
max =  89
min =  1
enter number0
max =  89
min =  0
enter number90
max =  90
min =  0
enter number44
max =  90
min =  0

In [ ]:
dic = {'John':'A', 'Emily':'A+', 'Betty':'B', 'Mike':'C', 'Ashley':'A'}
print(dic.keys())
print(dic.values())
for keys in dic.keys():
  #print(f"the value corresponding to the key {keys} is {dic[keys]}")
  print (keys, dic[keys])

dict_keys(['John', 'Emily', 'Betty', 'Mike', 'Ashley'])
dict_values(['A', 'A+', 'B', 'C', 'A'])
John A
Emily A+
Betty B
Mike C
Ashley A